Libs

In [1]:
import pandas as pd 
from pgmpy.models import BayesianModel
from pgmpy.factors.discrete import TabularCPD
from pgmpy.inference import VariableElimination
from pgmpy.sampling import BayesianModelSampling

Load the dataset

In [4]:
df = pd.read_csv('dataset/consensus_adj_mat.csv')
df

   Unnamed: 0  Akt  Erk  Jnk  Mek  P38  PIP2  PIP3  PKA  PKC  Plcg  Raf
0         Akt    0    0    0    0    0     0     0    0    0     0    0
1         Erk    0    0    0    0    0     0     0    0    0     0    0
2         Jnk    0    0    0    0    0     0     0    0    0     0    0
3         Mek    0    1    0    0    0     0     0    0    0     0    0
4         P38    0    0    0    0    0     0     0    0    0     0    0
5        PIP2    0    0    0    0    0     0     0    0    1     0    0
6        PIP3    1    0    0    0    0     1     0    0    0     1    0
7         PKA    1    1    1    1    1     0     0    0    0     0    1
8         PKC    0    0    1    1    1     0     0    0    0     0    1
9        Plcg    0    0    0    0    0     1     0    0    1     0    0
10        Raf    0    0    0    1    0     0     0    0    0     0    0

In [3]:
df_1 = pd.read_csv('dataset/sachs_bin.csv')
df_1.head()

   Akt  Erk  Jnk  Mek  P38  PIP2  PIP3  PKA  PKC
0  0.0  0.0  1.0  0.0  1.0   0.0   1.0  0.0  1.0
1  0.0  0.0  1.0  0.0  0.0   0.0   0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  0.0   0.0   0.0  0.0  0.0
3  0.0  0.0  0.0  1.0  0.0   0.0   0.0  0.0  0.0
4  1.0  0.0  1.0  0.0  0.0   0.0   0.0  0.0  0.0

Forward simulation